.bi {
  font-size: 4rem;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #fcedcc;
}

.btnc,
.btn-primary,
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:active {
  background-color: #fcedcc !important;
}

.bg-danger {
  background-image: var(--bs-gradient);
}

#favtools,
#contact {
  background-color: #fcedcc;
}

section {
  padding-top: 5rem;
  padding-right: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  width: 100%;
}
